
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Roboto";
}
.wrapper{
    margin: 0 auto;
    max-width: 1000px;
}
.flex-between{
    display: flex;
    justify-content: space-between;
}
h1{
    font-size: 30px;
    color: #1f222c;
    font-weight: 700;
    font-family: "Roboto Slab";
    text-align: center;
    padding-top: 77px;
    padding-bottom: 70px;
}
h2{
    font-size: 20px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #b3b3b3;
    font-weight: 700;
    padding-bottom: 28px;
}
hr{
    border: 0;
    border-top: 1px;
    width: 1000px;
    height: 1px;
    background-color: #e4e4ec;
    margin-top: 50px;
    margin-bottom: 50px;
}
textarea{
    resize: vertical;
    font-family: "Roboto";
}
input,
textarea,
select{
    border: 1px solid #ccc;
    border-radius: 3px;
}
button,
select{
    cursor: pointer;
}
button{
    border: none;
    background-color: #12d661;
    color: #ffffff;
}
button:hover{
    background-color: #07be51;
    transition: all 1s ease;
}



/* стилізація опшенів */
option{
    min-width: 328px;
    min-height: 35px;
    font-size: 14px;
    color: #1f222c;
    font-weight: 400;
    appearance: none;
    }
option:checked{
    appearance: none;
    width: 328px;
    height: 35px;
    background-color: #3e6aff;
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
}


/* стилізація чекбоксів */
input[type=checkbox]{
    appearance: none;
    background-color: #fff;
    width: 15px;
    height: 15px;
    border-radius: 3px;
}
  
  .check{
    position: relative;
    margin: 0;
    padding: 0;
}
  .check span{
    position: absolute;
}
input[type=checkbox]:checked+ span{  
    top: 30%;
    left: 50%;
    width: 5px;
    height: 8px;
    border-top: 2px solid #3e6aff;
    border-left: 2px solid #3e6aff;
    transform: translate(-50%, -50%) rotate(-135deg);
}
input[type=checkbox]:checked{
    border-color: #3e6aff;
}
label:has(input[type=checkbox]){
    display: flex;
    column-gap: 5px;
}



/* стилізація радіо кнопок */
input[type=radio]{
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    outline: 1p solid #ccc;
    background-color: #fff;
}
input[type=radio]:checked{
    background-color: #3e6aff;
    border: 3px solid #fff;  
    outline: 1px solid #3d69ff;
}
label:has(input[type=radio]){
    column-gap: 5px;
}



/* стилізація селектів */
.custom-select {
    position: relative;
    display: inline-block;
}
.custom-select select {
    appearance: none;
}
/* Кастомна стрілочка */
.custom-select::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 9px;
    height: 5px;
    background-color: #1f222c;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    margin-right: 10px;
    margin-top: -3px;
}


.table-form  .custom-select::after{
    margin-right: 85px;
}
.table-form-five .custom-select::after{
    margin-right: -20px;
}

/* стилізація чекідів */
input:focus:not(input[type=checkbox], input[type=radio]),
textarea:focus,
select:focus{
    border: none;
    filter: drop-shadow(0 0 2.5px rgba(62,106,255,0.55));
    border: 1px solid #3e6aff;
    outline: none;
}



/* перша форма */
.simple-form input[type=text],
.simple-form input[type=email],
.simple-form select{
    min-width: 300px;
    min-height: 11px;
    padding: 15px;
    background-color: #ffffff;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
}
.simple-form select{
    color: #1f222c;
    min-width: 330px;
}
.simple-form textarea{
    min-width: 305px;
    min-height: 100px;
    max-height: 200px;
    background-color: #fff;
    padding: 12px;
    font-size: 14px;
    font-weight: 400;
}
.simple-form button[type=submit]{
    min-width: 330px;
    min-height: 43px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}
.simple-form button:hover{
    background-color: #07be51;
    transition: all 1s ease;
}





/* шоста форма */
.fixed_form{
    z-index: 2;
    position: fixed;
    right: 50%;
    top: 0;
    transform: translate(160%, 50%);
}
.close-icon {
    position: absolute;
    width: 10px;
    height: 10px;
    display: inline-block;
    top: 15px;
    right: 15px;
}
  
.close-icon::before,
.close-icon::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #949494;
    top: 50%;
    left: 0;
    transform: translateY(-50%) rotate(45deg);
}
  
.close-icon::after {
    transform: translateY(-50%) rotate(-45deg);
}
.lll{  
    padding-top: 25px;
    width: 310px;
    height: 282px;
    border-radius: 5px;
    filter: drop-shadow(0px 5px 6px rgba(0,0,0,0.15));
    background-color: #fafafa;
    border: 1px solid #e6e6e6;  
}
.lll input[type=text]{
    min-width: 245px;
    min-height: 36px;
    padding-left: 15px;
}
.lll label:has(input[type=text]){
    font-size: 13px;
    color: #b3b3b3;
    font-weight: 400;
    font-family: "Roboto";
}
.lll p:has(input[type=text]){
    margin-top: 10px;
    margin-bottom: 12px;
}
.l {
    font-size: 13px;
    font-weight: 400;
    font-family: "Roboto";
    margin-left: 25px;
    padding-bottom: 10px;
    cursor: pointer;
}
.l a{
    color: #3e6aff;
    text-decoration: none;
}
.l:hover{
    text-decoration: underline;
    color: #3e6aff;
}
.lll button[type=submit]{
    min-width: 260px;
    min-height: 43px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    margin-top: 15px;
}
.lll button:hover{
    background-color: #07be51;
    transition: all 1s ease;
}
.lll label,
.lll input,
.lll button{
    margin-left: 25px;
}
.lll input[type=checkbox]{
    margin-left: 0px;
}



/* друга форма */
.elements{
    align-items: start;
    justify-content: start;
}
.elements label{
    font-size: 14px;
    font-weight: 400;
}
.radio p,
.checkbox p{
    font-size: 14px;
    color: #1f222c;
    font-weight: 400;
    align-items: center;
}
.radio label{
    display: flex;
}
label:has(input:disabled){
    color: #b3b3b3;
}
.elements p,
.insert p{
    font-size: 14px;
    color: #1f222c;
    font-weight: 700px;
    margin-bottom: 15px;
}
.insert{
    min-width: 473px;
    max-height: 114px;
    border-radius: 3px;
    background-color: #f7f7f7;
    border: 1px solid #e5e5e5;
}
.insert p{
    padding-left: 20px;
}
.insert p:first-child{
    padding-top: 25px;
    padding-bottom: 13px;    
}

.insert label{
    padding-right: 25px;   
}
.insert label:first-child{
    margin-left: 35px;
}
label:has(input[type=datetime-local]){
     padding-left: 12px;
}




/* третя форма */
.checkboxes{
    max-width: 680px;
}
.human p{
    padding-left: 15px;
}
.human label{
    display: flex;
    align-items: center;
}
.human input[type=radio]{
    appearance: none;
    width: 73px;
    height: 73px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: none;
    outline: none;
}
.human input:checked + p{
    color: #3e6aff;
}
.mann input[type=radio]{
    background: url(../img/man.png) no-repeat;
}
.womann input[type=radio]{
    background: url(../img/woman.png) no-repeat;
}
.mann input[type=radio]:checked{
    background: url(../img/mann.png) no-repeat;
}
.womann input[type=radio]:checked{
    background: url(../img/womann.png) no-repeat;
}

.dddd{
    padding-top: 20px;
}
.dddd label{
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding-bottom: 20px;
  }
  .slider{
      position: relative;
      display: inline-block;
  }
  .dddd input{
      appearance: none;
      width: 46px;
      height: 26px;
      border-radius: 12px;
      background-color: #cfcfd1;
  }
  .slider span{
      position: absolute;
      top: 43%;
      left: 5%;
      width: 21px;
      height: 21px;
      border-radius: 50%;
      background-color: #ffffff;
      transform: translateY(-50%);
      transition: all .1s ease;
  
  }
  .dddd input:checked{
    background-color: #3e6aff;
  
  }
  .dddd input:checked + span {
    border: none;
    left: 70%;
    top: 44%;
    width: 21px;
    height: 21px;
  }



/* четверта форма */
.inputiki{
    min-width: 500px;/
}
.ggg h2{
    font-size: 18px;
    color: #1f222c;
    text-transform: none;
}
.ggg label{
    font-size: 14px;
    color: #1f222c;
    font-weight: 400;
}
.ggg input:not(button[type=file], input[type=radio]),
.ggg select{
    min-width: 315px;
    min-height: 11px;
    padding: 12px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
}
.ggg select{
    min-width: 340px;
}
.r-human input{
    margin-right: 5px;
} 
.r-human label:first-child{
    margin-right: 30px;
}
.r-human{
    padding-bottom: 20px;
}
.ggg button[type=file]{
    padding: 16px 37px;
    border: none;
    border-radius: 3px;
    background-color: #3e6aff;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto";
    text-align: center;
    margin-bottom: 15px;
}
.ggg button[type=file]:hover{
    background-color: #2251ec;
}
::placeholder{
    color: #b3b3b3;
}
.ggg textarea{
    min-width: 315px;
    min-height: 100px;
    max-height: 200px;
    padding: 12px;
    font-size: 14px;
    font-weight: 400;
    outline: none;
}
.ggg button[type=submit]{
    min-width: 340px;
    min-height: 43px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    margin-left: 172px; 
}
.ggg button[type=submit]:hover{
    background-color: #07be51;
    transition: all 1s ease;
}
.text p{
    padding-bottom: 30px;
}
.comm td{
    align-items: center;
}
.ggg td{
    padding-right: 80px;
    /* vertical-align: ; */
}



/* п'ята форма */
.table-form-five{
    max-width: 680px;
    padding-bottom: 100px;
}
.ffive td{
    font-size: 13px;
    color: #b3b3b3; 
    font-weight: 400;
}
.ddd input:not(input[type=checkbox]){
    padding: 12px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
    justify-content: start;
    width: 100%;
}
.ddd input:not(input[type=checkbox], .www){
    max-width: 195px;    
}
.ffive td{
    max-width: 195px;
}
.ddd span hr{
    margin-top: 20px;
    max-width: 675px;
    margin-bottom: 25px;
}
.www{
    max-width: 420px;
}
.ddd select{
    padding: 12px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
    justify-content: start;
    width: 100%;
    min-width: 220px;
}
.sss button[type=submit]{
    min-width: 180px;
    min-height: 43px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 700;
    font-family: "Roboto";
    text-align: center;
}
.back{
    background-color: #ffffff;
    border: 1px solid #85868d;  
    color: #6e6f77;
}
.back:hover{
    background-color: #85868d;
    color: #fff;
    transition: all 1s ease;
}
.ddd table{
    width: 100%;
    margin-bottom: 13px;
}
.ffive td{
    column-gap: 10px;
}
.before::before{
    content: "";
    width: 1px;
    height: 19px;
    background-color: #cccccc;
    position: absolute;
    right: 10px;
    top: 12px;
}