@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Medium.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Medium.woff') format('woff'),
        url('../fonts/RobotoSlab-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Regular.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Regular.woff') format('woff'),
        url('../fonts/RobotoSlab-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Bold.woff') format('woff'),
        url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Roboto";
}
.wrapper{
    margin: 0 auto;
    max-width: 1000px;
}
.flex-between{
    display: flex;
    justify-content: space-between;
}
h1{
    font-size: 30px;
    color: #1f222c;
    font-weight: 700;
    font-family: "Roboto Slab";
    text-align: center;
    padding-top: 77px;
    padding-bottom: 70px;
}
h2{
    font-size: 20px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #b3b3b3;
    font-weight: 700;
    padding-bottom: 28px;
}
hr{
    border: 0;
    border-top: 1px;
    width: 1000px;
    height: 1px;
    background-color: #e4e4ec;
    margin-top: 50px;
    margin-bottom: 50px;
}
textarea{
    resize: vertical;
}
input,
textarea,
select{
    border: 1px solid #ccc;
    border-radius: 3px;
}
button,
select{
    cursor: pointer;
}



/* стилізація опшенів */
option{
    min-width: 328px;
    min-height: 35px;
    font-size: 14px;
    color: #1f222c;
    font-weight: 400;
    appearance: none;
    }
option:checked{
    appearance: none;
    width: 328px;
    height: 35px;
    background-color: #3e6aff;
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
}


/* стилізація чекбоксів */
input[type=checkbox]{
    appearance: none;
    background-color: #fff;
    width: 15px;
    height: 15px;
    border-radius: 3px;
}
  
  .check{
    position: relative;
}
  
  .check span{
    position: absolute;
}
  
  input[type=checkbox]:checked+ span{  
    top: 30%;
    left: 33%;
    width: 5px;
    height: 8px;
    border-top: 2px solid #3e6aff;
    border-left: 2px solid #3e6aff;
    transform: translate(-50%, -50%) rotate(-135deg);
}


/* стилізація радіо кнопок */
input[type=radio]{
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    outline: 1p solid #ccc;
    background-color: #fff;
}
input[type=radio]:checked{
    background-color: #3e6aff;
    border: 4px solid #fff;  
    outline: 1px solid #3d69ff;
}


/* стилізація чекідів */
input:focus:not(input[type=checkbox], input[type=radio]){
    border: none;
    filter: drop-shadow(0 0 2.5px rgba(62,106,255,0.55));
    border: #3d69ff;
    outline: none;
}



/* перша форма */
.simple-form input[type=text],
.simple-form input[type=email],
.simple-form select{
    min-width: 300px;
    min-height: 11px;
    padding: 15px;
    background-color: #ffffff;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
}
.simple-form select{
    color: #1f222c;
    min-width: 330px;
}
.simple-form textarea{
    min-width: 305px;
    min-height: 100px;
    max-height: 200px;
    background-color: #fff;
    padding: 12px;
    font-size: 14px;
    font-weight: 400;
}
.simple-form button[type=submit]{
    min-width: 330px;
    min-height: 43px;
    border-radius: 3px;
    background-color: #12d661;
    border: none;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
}





/* шоста форма */
.lll{
    position: sticky;
    padding-top: 25px;
    width: 310px;
    height: 282px;
    border-radius: 5px;
    filter: drop-shadow(0px 5px 6px rgba(0,0,0,0.15));
    background-color: #fafafa;
    border: 1px solid #e6e6e6;
}
.lll input[type=text]{
    
    min-width: 260px;
    min-height: 36px;
}
.lll label:has(input[type=text]){
    font-size: 13px;
    color: #b3b3b3;
    font-weight: 400;
    font-family: "Roboto";
}
.lll p:has(input[type=text]){
    margin-top: 10px;
    margin-bottom: 12px;
}
.l {
    font-size: 13px;
    color: #3e6aff;
    font-weight: 400;
    font-family: "Roboto";
    margin-left: 25px;
    padding-bottom: 10px;
}
.lll button[type=submit]{
    min-width: 260px;
    min-height: 43px;
    border-radius: 3px;
    background-color: #12d661;
    border: none;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    margin-top: 15px;
}
.lll label,
.lll input,
.lll button{
    margin-left: 25px;
}
.lll input[type=checkbox]{
    margin-left: 0px;
    margin-right: 5px;
}



/* друга форма */
.elements{
    align-items: start;
    justify-content: start;
}
.elements label{
    font-size: 14px;
    font-weight: 400;
}
.checkbox{
    padding-left: 10px;
}
.radio{
    padding-left: 15px;
}
.radio p,
.checkbox p{
    font-size: 14px;
    color: #1f222c;
    font-weight: 400;
}
.radio input,
.checkbox input{
    margin-right: 10px;
}   
label p:has(input:disabled){
    color: #b3b3b3;
}
.elements p,
.insert p{
    font-size: 14px;
    color: #1f222c;
    font-weight: 700px;
    margin-bottom: 15px;
}
.insert{
    min-width: 473px;
    max-height: 114px;
    border-radius: 3px;
    background-color: #f7f7f7;
    border: 1px solid #e5e5e5;
}
.insert p{
    padding-left: 20px;
}
.insert p:first-child{
    padding-top: 25px;
    justify-content: start;
    padding-bottom: 13px;    
}

.insert label{
    padding-right: 25px;    
}
.insert label:first-child{
    margin-left: 35px;
}
label:has(input[type=datetime-local]){
    padding-right: 45px;
}




/* третя форма */
.checkboxes{
    max-width: 680px;
}
.human p{
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-left: 15px;
}
.human label{
    display: flex;
    align-items: center;
}
.human input[type=radio]{
    appearance: none;
    width: 73px;
    height: 73px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: none;
}
.human input:checked + p{
    color: #3e6aff;
}
.mann input[type=radio]{
    background: url(../img/man.png) no-repeat;
}
.womann input[type=radio]{
    background: url(../img/woman.png) no-repeat;
}
.mann input[type=radio]:checked{
    background: url(../img/mann.png) no-repeat;
}
.womann input[type=radio]:checked{
    background: url(../img/womann.png) no-repeat;
}

.dddd{
    padding-top: 20px;
}
.dddd label{
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding-bottom: 20px;
  }
  .slider{
      position: relative;
      display: inline-block;
  }
  .dddd input{
      appearance: none;
      width: 46px;
      height: 26px;
      border-radius: 12px;
      background-color: #cfcfd1;
  }
  .slider span{
      position: absolute;
      top: 45%;
      left: 5%;
      width: 21px;
      height: 21px;
      border-radius: 12px;
      background-color: #ffffff;
      transform: translateY(-50%);
      transition: all .1s ease;
  
  }
  .dddd input:checked{
    background-color: #3e6aff;
  
  }
  .dddd input:checked + span {
    left: 70%;
    top: 45%;
    width: 21px;
    height: 21px;
  }



/* четверта форма */
.inputiki{
    min-width: 500px;/
}
.ggg h2{
    font-size: 18px;
    color: #1f222c;
    text-transform: none;
}
.ggg label{
    font-size: 14px;
    color: #1f222c;
    font-weight: 400;
}
.ggg input:not(input[type=file], input[type=radio]),
.ggg select{
    min-width: 315px;
    min-height: 11px;
    padding: 12px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
}
.ggg select{
    min-width: 340px;
}
.r-human input{
    margin-bottom: 20px;
}
.ggg button[type=file]{
    padding: 16px 37px;
    border: none;
    border-radius: 3px;
    background-color: #3e6aff;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto";
    text-align: center;
    margin-bottom: 15px;
}
::placeholder{
    color: #b3b3b3;
}
.ggg textarea{
    min-width: 315px;
    min-height: 100px;
    max-height: 200px;
    padding: 12px;
    font-size: 14px;
    font-weight: 400;
}
.ggg button[type=submit]{
    min-width: 340px;
    min-height: 43px;
    border-radius: 3px;
    background-color: #12d661;
    border: none;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    margin-left: 165px; 
}
.text p{
    padding-bottom: 30px;
}
.comm td{
    align-items: center;
}
.ggg td{
    padding-right: 80px;
}



/* п'ята форма */
.table-form-five{
    max-width: 680px;
}
.ffive td{
    font-size: 13px;
    color: #b3b3b3; 
    font-weight: 400;
}
.ddd input:not(input[type=checkbox]){
    padding: 12px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
    justify-content: start;
    width: 100%;
}
.ddd input:not(input[type=checkbox], .www){
    max-width: 195px;    
}
.ffive td{
    max-width: 195px;
}
.ddd span hr{
    margin-top: 20px;
    max-width: 675px;
    margin-bottom: 25px;
}
.www{
    max-width: 420px;
}
.ddd select{
    padding: 12px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
    justify-content: start;
    width: 100%;
    max-width: 220px;
}
.agree input:checked + span{
    top: 30%;
    left: 45%;
    width: 5px;
    height: 8px;
    border-top: 2px solid #3e6aff;
    border-left: 2px solid #3e6aff;
    transform: translate(-50%, -50%) rotate(-135deg);
  }
.sss button[type=submit]{
    min-width: 180px;
    min-height: 43px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 700;
    font-family: "Roboto";
    text-align: center;
}
.purchase{
    border: none;
    background-color: #12d661;
    color: #ffffff;
}
.back{
    background-color: #ffffff;
    border: 1px solid #85868d;  
    color: #6e6f77;
}
.ddd table{
    width: 100%;
    margin-bottom: 13px;
}
.ffive td{
    column-gap: 10px;
}